div + div {
    margin-top: 10px;
}
.aboutContainerTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #242526;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

.aboutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #242526;
    border-radius: 25px;
}
.portrait{
    margin: 20px;
    border-radius: 50%;
    width: 300px;
}

.description
{

    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1{
    font-family: 'Lato';
    color: white;
    font-size: 2rem;
    animation: fadeIn 1s .5s backwards;
}
h2{
    font-family: 'Lato';
    color: white;
    font-size: 1.25rem;
    animation: fadeIn 1s .5s backwards;
    animation-delay: 1.5s;
}
h3{
    font-family: 'Lato';
    color: white;
    font-size: 1rem;
}


@keyframes fadeIn {
    from { opacity: 0}
    to { opacity: 1}
}
